.additional-info {
  @include container($max_width);
  @include inner-padding(40px);

  &__title {
    text-align: center;
    margin: 0;
  }

  &__group {
    @include top-padding(25px);

    @include gt($add_item_at) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__item {
    margin-bottom: 35px;

    &-image {
      img {
        display: block;
        width: auto;
        max-height: 55px;
        margin: 0 auto 15px;

        @include gt($add_item_at) {
          margin: 0 0 15px;
        }
      }
    }

    &-title {
      text-align: center;
      margin: 0 0 10px;

      @include gt($add_item_at) {
        text-align: left;
      }
    }

    &-text {
      text-align: center;
      margin-bottom: 0;

      @include gt($add_item_at) {
        text-align: left;
      }
    }
  }
}

// layout
.additional-info__item {
  @include gt($add_item_at) {
    .has-2 & {
      width: calc(50% - (#{$gutter} * 1.5));
    }

    .has-3 & {
      width: calc(33.333% - (#{$gutter} * 2));
    }
  }
}
