$cta_bg_at: 800px;
$cta_bg_lg: 1360px;

.cta {
  @include gradient($dark_blue, $light_blue);
  @include inner-padding(30px);
  position: relative;
  text-align: center;

  // this creates the pill pattern background
  &:after {
    @include gt($cta_bg_at) {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-image: url(../images/bg__pattern--right-small.png), url(../images/bg__pattern--left-small.png);
      background-position: right top, left top;
      background-repeat: no-repeat, no-repeat;
      z-index: 1;

      @include gt($cta_bg_lg) {
        background-image: url(../images/bg__pattern--right.png), url(../images/bg__pattern--left.png);
        background-position: right top, left top;
        background-repeat: no-repeat, no-repeat;
      }
    }
  }

  &__wrap {
    @include container($max_width);
    position: relative;
    z-index: 2;
  }

  &__title {
    color: white;
    margin: 0 0 10px;

    .has-image & {
      margin: 0 0 5px;
    }
  }

  &__text {
    color: white;
    margin: 0 0 35px;

    .has-image & {
      margin: 0 0 25px;
    }
  }

  .btn {
    margin-bottom: 18px;
  }

  &__image {
    max-width: 90vw;
    padding-top: 30px;
    margin: 0 auto;

    @include gt(s) {
      max-width: 70vw;
    }
  }
}
