.features {
  @include gradient($teal, $light_blue);
  @include inner-padding(40px);
  position: relative;

  // this is the composite laptop with example screen
  &:after {
    @include gt(980px) {
      position: absolute;
      top: 0;
      left: -12%;
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: url(../images/laptop__sm.png) no-repeat left 8vw;
      background-size: calc(50% + 55px);
    }

    @include gt(1050px) {
      background: url(../images/laptop__md.png) no-repeat -250px 8vw;
      background-size: calc(50% + 305px);
    }

    @include gt(1450px) {
      background: url(../images/laptop__lg.png) no-repeat -100px 8vw;
      background-size: calc(50% + 155px);
    }
  }

  &__wrap {
    @include container($max_width);
  }

  &__content {
    text-align: center;

    @include gt(980px) {
      text-align: left;
    }

    @include gt(980px) {
      width: 50%;
      margin-left: auto;
    }

    * {
      color: white;
    }
  }

  &__prefix {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin: 0 0 10px;
  }

  &__title {
    font-weight: 300;
    margin: 0 0 20px;
  }

  &__group {
    @include top-padding(25px);
  }

  // item
  &__item {
    margin-bottom: 40px;

    @include gt($features_at) {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &:last-child {
      margin: 0;
    }

    &-image {
      max-width: 90px;
      margin: 0 auto;

      img {
        display: block;
        width: auto;
        max-height: 65px;
        margin: 0 auto 12px;

        @include gt($features_at) {
          margin: 0 auto;
        }
      }

      @include gt($features_at) {
        width: 100%;
        min-height: auto;
        margin: 0;
      }
    }

    &-content {
      padding-left: $gutter;

      @include gt($features_at) {
        text-align: left;
      }
    }

    &-title {
      font-weight: 300;
      margin: 0;
    }

    &-text {
      flex: 1;
      font-weight: 300;
      margin: 0;
    }
  }
}
