.intro {
  @include container($max_width);

  @include lt($cta_at) {
    @include top-padding(30px);
  }

  @include lt($intro_at) {
    @include bottom-padding(30px);
  }
}

.intro__wrap {
  @include gt($intro_at) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.intro__title {
  text-align: center;
}

.intro__text {
  @include gt($intro_at) {
    width: 50%;

    .text-is-left & {
      padding-right: $gutter / 2;
    }

    .text-is-right & {
      text-align: right;
      padding-left: $gutter / 2;
    }
  }
}

.intro__image {
  @include gt($intro_at) {
    width: 50%;
    margin-bottom: -20px;

    .text-is-left & {
      padding-left: $gutter / 2;
    }

    .text-is-right & {
      padding-right: $gutter / 2;
    }
  }
}
