.stats {
  @include gradient($teal, $light_blue);
  @include inner-padding(45px);

  * {
    color: white;
    text-align: center;
  }

  &__wrap {
    @include container($max_width);
  }

  &__title {
    margin: 0 0 5px;

    @include gt(s) {
      margin-bottom: 10px;
    }

    @include gt(m) {
      margin-bottom: 20px;
    }
  }

  &__text {
    font-weight: 300;
    margin: 0 0 25px;

    @include gt(s) {
      margin-bottom: 30px;
    }

    @include gt(m) {
      margin-bottom: 35px;
    }
  }

  &__subtext {
    font-weight: 300;
    margin: 0;
  }

  &__group {
    @include gt($stats_at) {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(white, .25);
    border-radius: 3px;
    padding: 30px;
    margin-bottom: 25px;

    @include gt($stats_at) {
      width: calc(50% - (#{$gutter} * 2 ));
      max-width: 375px;
      margin-bottom: 35px;

      &:first-child {
        margin-right: $gutter;
      }

      &:last-child {
        margin-left: $gutter;
      }
    }

    &-value {
      font-weight: 700;
      margin: 0 0 5px;
    }

    &-measure {
      line-height: 1.36;
      margin: 0;
    }
  }
}
