.testimonial {
  @include container($max_width);
  @include inner-padding(40px);

  &__title {
    text-align: center;
    margin: 0 0 20px;

    @include gt(s) {
      margin-bottom: 40px;
    }

    @include gt(m) {
      margin-bottom: 60px;
    }
  }

  // item
  &__item {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;

    @include gt(s) {
      margin-bottom: 40px;
    }

    &-quote {
      margin: 0 0 20px;
    }

    &-profile {
      display: block;
      width: 120px;
      text-align: center;
      border: 4px solid $light_blue;
      border-radius: 50%;
      margin: 0 auto 20px;
      overflow: hidden;

      @include gt(m) {
        width: 80px;
      }

      img {
        display: block;
        width: 100%;
      }
    }

    &-info {
      *:first-child {
        display: block;
        margin-bottom: 5px;
      }
    }
  }
}
