.login h1 a {
  background-image: url('../images/logo--color.svg'); /*  replace with client logo */
  width: 200px;
  height: 152px;
  -webkit-background-size: 200px 200px;
       -o-background-size: 200px 200px;
          background-size: 200px 200px;
}

/* hide errors since we are not letting the user know which is incorrect. see functions/basic/security.php */
#login_error {
  display: none !important;
}
