$handle_1: #32373c;
$handle_2: #636c75;
$handle_3: #8f969c;

// 1st level
.acf-flexible-content .layout {
  background-color: white;
  margin-bottom: 50px;

  .acf-label label {
    font-size: 12px !important;
  }

  & > .acf-fields > .acf-field {
    border-color: #cfcfcf;
  }

  .acf-fc-layout-handle {
    font-size: 15px;
    letter-spacing: .5px;
    text-transform:uppercase;
    background-color: $handle_1;
    color: white;
    padding: 25px 10px;
  }

  .acf-fc-layout-controlls {
    top: 28px;
  }
}

// 2nd level
.acf-flexible-content .layout .layout {
  background-color: #f2f2f2;
  margin-bottom: -5px;

  &:last-child {
    margin-bottom: 15px;
  }

  .acf-fc-layout-handle  {
    background-color: $handle_2;
    padding: 12px 10px;
  }

  .acf-fc-layout-controlls {
    top: 17px;
  }
}

// 3rd level
.acf-flexible-content .layout .layout .layout {
  background-color: white;
  padding-bottom: 0;
  margin-bottom: -10px;

  &:last-child {
    background-color: white;
    padding-bottom: 0;
    margin-bottom: 20px;
  }

  & > .acf-fields > .acf-field {
    border-color: #eee;
  }

  .acf-fc-layout-handle {
    background-color: $handle_3;
    padding: 8px 10px;
  }

  .acf-fc-layout-controlls {
    top: 10px;
  }
}

// style divider module
.acf-flexible-content .layout[data-layout="divider"] {
  .acf-fc-layout-handle {
    padding: 5px 10px !important;
    background: #0073aa !important;
  }

  .acf-fc-layout-controlls {
    top: 7px !important;
  }

  .acf-fields > .acf-field-message {
    padding: 0 12px !important;
  }
}

// file download links
[data-name="file_download_group"] [data-layout="link"] .acf_field {
  padding: 5px !important;
}
