$spacing: 50px;
$gutter: 18px;
$max_width: 1195px + $gutter + $gutter;

/**
 * Container
 *
 * Accepts:
 * - $val: The maximum width
 *
 * Usage:
 * .thing {
 *   @include container($max_width);
 * }
 */

@mixin container($val) {
  max-width: $val;
  width: 100%;
  margin: 0 auto;
  padding-left: $gutter;
  padding-right: $gutter;
}
