/**
 * CSS gradient bg
 *
 * Accepts:
 * - $val1: {String} Start color
 * - $val2: {String} End color
 *
 * Usage:
 * .thing {
 *   @include gradient($teal, $light_blue);
 * }
 */

@mixin gradient($val1, $val2) {
  background: $val1;
  background: -moz-linear-gradient(left, $val1 0%, $val2 100%);
  background: -webkit-linear-gradient(left, $val1 0%, $val2 100%);
  background: linear-gradient(to right, $val1 0%, $val2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$val1', endColorstr='$val2',GradientType=1 );
}


/**
 * Inner padding
 *
 * Accepts:
 * - $val1: {String} padding value which gets multiplied upward.
 *
 * Usage:
 * .thing {
 *   @include inner-padding(30px);
 * }
 */

@mixin inner-padding($val) {
  padding-top: $val;
  padding-bottom: $val;

  @include gt(s) {
    padding-top: $val * 1.5;
    padding-bottom: $val * 1.5;
  }

  @include gt(m) {
    padding-top: $val * 2;
    padding-bottom: $val * 2;
  }
}


/**
 * Top padding
 *
 * Accepts:
 * - $val1: {String} padding value which gets multiplied upward.
 *
 * Usage:
 * .thing {
 *   @include top-padding(30px);
 * }
 */

@mixin top-padding($val) {
  padding-top: $val;

  @include gt(s) {
    padding-top: $val * 1.5;
  }

  @include gt(m) {
    padding-top: $val * 2;
  }
}


/**
 * Bottom padding
 *
 * Accepts:
 * - $val1: {String} padding value which gets multiplied upward.
 *
 * Usage:
 * .thing {
 *   @include bottom-padding(30px);
 * }
 */

@mixin bottom-padding($val) {
  padding-bottom: $val;

  @include gt(s) {
    padding-bottom: $val * 1.5;
  }

  @include gt(m) {
    padding-bottom: $val * 2;
  }
}
