$at_small  : 32em !default;
$at_medium : 50em !default;
$at_large  : 68em !default;

@mixin gt($at_size) {
  @if $at_size == "s" {
    @media only screen and (min-width : $at_small) {
      @content;
    }

  } @else if $at_size == "m" {
    @media only screen and (min-width : $at_medium) {
      @content;
    }

  } @else if $at_size == "l" {
    @media only screen and (min-width : $at_large) {
      @content;
    }
  } @else {
    @media only screen and (min-width : $at_size) {
      @content;
    }
  }
}

@mixin lt($at_size) {
  @if $at_size == "s" {
    @media only screen and (max-width : $at_small) {
      @content;
    }

  } @else if $at_size == "m" {
    @media only screen and (max-width : $at_medium) {
      @content;
    }

  } @else if $at_size == "l" {
    @media only screen and (max-width : $at_large) {
      @content;
    }
  } @else {
    @media only screen and (max-width : $at_size) {
      @content;
    }
  }
}
