// brand colors
$red: #ef5153;
$teal: #3fb0ac;
$light_blue: #347a9d;
$dark_blue: #243f6c;
$charcoal: #37373c;

// type colors
$dark_type: black;
$medium_type: #243f6c;
$light_type: #d3d3d3;

// typography
$h1__sm: 30px;
$h1__md: 34px;
$h1__lg: 44px;

$h2__sm: 22px;
$h2__md: 26px;
$h2__lg: 36px;

$h3__sm: 20px;
$h3__md: 26px;
$h3__lg: 30px;

$h4: 22px;
$h5: 13px;
$p: 18px;
