.footer {
  border-top: 6px solid #4b4b51;
  background: $charcoal;
  padding: 20px 0;

  * {
    color: $light_type;
  }

  &__wrap {
    @include container($max_width);
    margin-bottom: 30px;

    @include gt(s) {
      margin-bottom: 45px;
    }

    @include gt(m) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 60px;
    }
  }

  &__logo {
    @extend %ir;
    width: 171px;
    height: 73px;
    background: url(../images/logo--white.svg) center center no-repeat;
    background-size: contain;
    text-decoration: none;
    margin: 0 auto 25px;
    opacity: .5;

    @include gt(m) {
      margin: 0;
    }
  }

  &__menus {
    text-align: center;

    @include gt(m) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 300px;
      text-align: left;
      padding-top: 15px;
    }
  }

  h5 {
    margin: 0 0 15px;
  }

  nav {
    margin-bottom: 35px;

    @include gt(m) {
      margin-bottom: 0;
      margin-right: $gutter;

      &:last-child {
        margin: 0;
      }
    }

    ul {
      @extend %not-list;

      li {
        margin-bottom: 12px;
      }

      a {
        font-size: 18px;
        font-weight: 300;
        text-decoration: none;
      }
    }
  }

  &__copyright {
    @include container($max_width);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
  }
}
