.header {
  background: white;
  padding: 10px 0 13px;
  box-shadow: 0 0 15px 0px rgba(0,0,0,0.1);

  &__wrap {
    @include container($max_width);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    @extend %ir;
    width: 133px;
    height: 57px;
    background: url(../images/logo--color.svg) center center no-repeat;
    background-size: contain;
    text-decoration: none;
  }
}
