@include gt($show_large_menu) {
  // resets
  .--menu-is-active:before,
  .menu--trigger,
  .menu--close {
    display: none;
  }

  // menu wraps
  .menu__wrap {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: auto;
    left: auto;
    width: 100%;
    padding: 0;

    &.--is-hidden {
      display: flex;
    }
  }

  .menu--main {
    width: 100%;
    text-align: right;
  }

  // menu - main
  .menu {

    // first level
    &__item {
      display: inline-block;
      margin-right: 25px;
      padding: 0;

      &:hover > ul.menu__sub-menu {
        display: block;
      }

      // marker arrow
      &--parent:hover > a:after {
        position: absolute;
        bottom: -30px;
        left: 50%;
        margin-left: -15px;
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 15px 15px 15px;
        border-color: transparent transparent white transparent;
      }

      a, a:visited {
        position: relative;
        color: black;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        padding: 0;

        &:hover {
          border-bottom: 2px solid $red;
        }
      }
    }

    // second level
    &__sub-menu {
      position: absolute;
      top: 100px;
      left: 0px;
      width: 100vw;
      padding: 24px 0 10px 0;

      &.--show-sub-menu {
        display: none;
      }

      &__item {
        @include container($max_width);
      }

      a, a:visited {
        color: white;
        font-size: 36px;
        font-weight: 700;
        border: 0;
        margin-bottom: 14px;
        padding-left: (156px + 60px);
      }

      &__item:last-of-type {
        margin-bottom: 0;
        border: 0;
      }
    }
  }

  // btn
  .menu__item--btn {
    margin-top: 0;
    margin-right: 0;

    a {
      color: $red;
      background: white;
      border: 2px solid $red;
      padding: 10px 20px 8px;
      border-radius: 0;

      &:hover {
        color: white;
        border: 2px solid $red;
        background: $red;
      }
    }
  }
}
