// freeze body
.--menu-is-active {
  &:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $red;
    z-index: 100;
  }
}

// triggers
.menu--trigger {
  font-size: 16px;
  color: black;
  font-weight: 600;
  font-style: normal;
  margin-right: $gutter / 2;
  cursor: pointer;

  &.--is-active {
    display: none;
  }
}

.menu--close {
  position: absolute;
  color: white;
  font-weight: 600;
  font-style: normal;
  top: 30px;
  right: $gutter + 10px;
  display: block;
  cursor: pointer;
}

.menu--main {
  width: 100%;
  text-align: center;
}

// menu wraps
.menu__wrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  padding: 60px 40px 40px;
  animation-duration: 600ms !important;
  z-index: 9999;

  &.--is-hidden {
    display: none;
  }

  &.--menu-visible {
    display: flex;
  }
}

// menu - main
.menu {
  @extend %not-list;

  // first level
  &__item {
    a, a:visited {
      display: block;
      color: white;
      font-size: 32px;
      line-height: 1.1;
      cursor: pointer;
      text-decoration: none;
      padding: 10px 0;
    }
  }

  // second level
  &__sub-menu {
    @extend %not-list;
    display: none;

    &.--show-sub-menu {
      display: block;
    }

    a, a:visited {
      font-size: 20px;
      border-top: 1px solid rgba(white, .35);
    }

    &__item:last-of-type {
      border-bottom: 1px solid rgba(white, .35);
    }
  }
}

// menu - utility
.menu__utility {
  @extend %not-list;

  &__item {
    display: inline-block;
    margin-right: 30px;

    a, a:visited {
      display: block;
      color: white;
      font-size: 20px;
      line-height: 1.1;
      cursor: pointer;
      text-decoration: none;
      padding: 10px 0;
    }
  }
}

// btn
.menu__item--btn {
  margin-top: 25px;
  margin-right: 0;

  a {
    color: white;
    border: 3px solid white;
    background: transparent;
    padding: 15px 20px 12px;
    transition: all 0.3s ease 0s;
    border-radius: 3px;

    &:hover {
      color: white;
      background: $light_blue;
      border: 3px solid $light_blue;
    }
  }
}
