// AMP Sidebar
amp-sidebar {
  background: white;
  width: 250px;
  padding: 10px;

  li {
    display: block;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;
    text-align: center;
  }

  a, a:visited {
    color: black;
    text-decoration: none;
    font-size: 16px;
  }
}

#sidebar-right nav.amp-sidebar-toolbar-target-shown {
  display: none;
}

// recycled triggers for AMP Sidebar
body.amp {
  a.menu--trigger {
    display: block;
    text-decoration: none;
  }

  .menu  .menu__item {
    display: block;

    a, a:visited {
      color: black;
      display: inline-block;
      font-size: 16px;
      font-weight: 600;
      padding: 0;

      &:hover {
        border-bottom: 2px solid $red;
      }
    }

    .menu__item--btn {
      margin-top: 0;
      margin-right: 0;

      a {
        color: $red;
        background: white;
        border: 2px solid $red;
        padding: 10px 20px 8px;
        border-radius: 0;

        &:hover {
          color: white;
          border: 2px solid $red;
          background: $red;
        }
      }
    }
  }

  // intro section
  .intro  {
    .intro__title {
      padding-top: 30px;

      @include gt(s) {
        padding-top: 45px;
      }

      @include gt(m) {
        padding-top: 60px;
      }
    }
  }
}
