%btn,
.btn,
input[type="submit"],
input[type="button"] {
  display: inline-block;
  font-size: 22px;
  min-width: 200px;
  color: white;
  background: $red;
  text-decoration: none;
  text-align: center;
  padding: 14px 25px 13px;
  appearance: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);

  &:hover {
    background: darken($red, 4%);
  }
}
