@import url("https://use.typekit.net/skr3fju.css");

body {
  font-family: "proxima-nova",sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: 1.2;
  margin-top: 0;

  a {

  }
}

h1 {
  font-size: $h1__sm;

  @include gt(s) {
    font-size: $h1__md;
  }

  @include gt(m) {
    font-size: $h1__lg;
  }

  a,
  a:visited {

    &:hover {

    }
  }
}

h2 {
  font-size: $h2__sm;

  @include gt(s) {
    font-size: $h2__md;
  }

  @include gt(m) {
    font-size: $h2__lg;
  }

  a,
  a:visited {

    &:hover {

    }
  }
}

h3 {
  font-size: $h3__sm;
  font-weight: 200;

  @include gt(s) {
    font-size: $h3__md;
  }

  @include gt(m) {
    font-size: $h3__lg;
  }

  a,
  a:visited {

    &:hover {

    }
  }
}

h4 {
  font-size: $h4;
  letter-spacing: 1px;
  font-weight: 300;

  a,
  a:visited {

    &:hover {

    }
  }
}

h5 {
  font-size: $h5;
  text-transform: uppercase;
  font-weight: 600;
}

p {
  font-size: $p;
  line-height: 1.666;
  font-weight: 300;
}

hr {
  clear: both;
  height: 0;
  border: 0;
  border-top: 1px solid black;
  margin: 20px 0 20px;
}

blockquote {
  font-size: 22px;
  line-height:  1.634;
  font-weight: 300;
  color: #333333;
}

cite, cite * {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  font-style: normal;
  color: #333333;
}

code, pre {
  font-size: 15px;
}

address {

}

em, i {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}

small {
  font-size: 1.1em;
}

cite {
  font-size: 14px;
}

sub, sup {
  font-size: .7em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}
